

:root {
    --clr-bg-nonary: #FFFFFF;
   --clr-bg-octonary: #FBFBFB;
    /* --clr-bg-octonary: #D2D2D2;*/

     --txt-clr-primary: #FBFBFB;
    --txt-clr-secondary: #3A3D3F;
    --txt-clr-tetriary: #3A3D3F;
    --icon-clr-primary: #2D2926;
    /*FontSection*/
    --ff-latin: CircularStd,'Noto Sans', sans-serif;
    --ff-non-latin: 'Noto Sans JP, sans-serif';
    --fs-titles-md: 32px;
    --fs-titles-sl: 18px;
    --fs-titles-xs: 18px;
    --fs-titles-2xs: 18px;
    --fs-copy-md: 16px;
    --fs-copy-sl: 16px;
    --fs-copy-xs: 16px;
    --fs-copy-2xs: 16px;
    --fs-extreme-values: 16px;
    --fs-extreme-lables: 12px;
    /*Spacing*/
    --padding: 20px;
    --margin: 20px;
    /*Images*/
    --svg-size-desktop: 40px;
    --svg-size-mobile: 30px;
    --svg-clr: #2D2926;
    --png-grayscale: 100%;
    --png-brightness: 50%;
}

@font-face{font-family:CircularStd;src:url("https://jtitest.qualtrics.com/ControlPanel/File.php?F=F_HfBrfUD0xG2i3kU") format("woff2");font-display:swap;font-style:normal;font-weight:300}


/*Begin  Reset*/
* {
    border: none;
    margin: 0px;
    padding: 0px;
font-weight:400 !important;

}
#logo-container.banner {
    background-color: var(--clr-bg-nonary);
     margin: 0px;
    padding: 0px;
}
div.question-error-wrapper{
    margin: 0px  !important;
    padding: 0px !important;
}

#navigation {
    margin: 0px  !important;
    padding: 0px !important;
}
div.shadowbox-inner{
  margin: 0px  !important;
    padding: 0px !important;
}

label.choice-label {
   margin: 0px  !important;
    padding: 0px !important;
}
footer#footer {
margin: 0px  !important;
    padding: 0px !important;

}

span.choice-content {
margin: 0px  !important;
    padding: 0px !important;
}
div.question-display.rich-text{
margin: 0px  !important;
    padding: 0px !important;
}

div.transition-content{
margin: 0px  !important;
    padding: 0px !important;
}
#end-of-survey {
margin: 0px  !important;
    padding: 0px !important;
}

.question .choice .choice-content .display-with-image {
    margin: 0px;
}
[dir=ltr] .question .choice .choice-content .display-with-image {
    margin-right: 0px;
}


/*End Reset*/

/*Main Container*/

div.QSIWebResponsive-creative-container-fade{
  container-type: inline-size;
}


/*Set FF*/
body {
    font-family: var(--ff-latin);
}

body[lang="ja"] {
    font-family: var(--ff-non-latin);
}

span.QuestionBody{
font-size:var(--fs-extreme-values) !important;

}


 div#footer{
  font-size: var(--fs-extreme-values);
}

/*Start Padding and Margins Section*/

div#app {
    padding: 20px !important;
}
#logo-container.banner {
     margin-bottom: 20px;
    padding: 0px;
}

div.question-error-wrapper{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    margin-bottom: 20px !important;
}

#navigation {
    margin-bottom: 20px  !important;
}

div.question-display.rich-text{
           margin-bottom: 20px  !important;
    
}

 .mc.horizontal .choices {
        grid-gap: 20px;
  }

span.choice-content {
   margin: auto auto !important;
    padding: 0px !important;
}

label.choice-label {
   margin: 0px auto !important;
    padding: 0px !important;
}

#error-message {
   margin-bottom: 20px  !important;
}
svg.svg_icons_jti{
   margin-bottom: 20px  !important;
}

/* VM
span.display-with-image-display.rich-text {
  margin-bottom: 20px  !important;

}
*/
textarea.text-input.multi-line{
  border-radius:8px !important;
}

textarea.text-input.multi-line:focus {
  border: 2px solid #3567FF !important;
  border-radius:8px;
   outline: none !important;
}


div.choice.radio:not(.above) span.choice-content {
    text-align: left;
    margin-left: 5px !important;
}

div.choice.radio.above .radio-button.radio {
    margin-top: 20px;
}
section#end-of-survey{
    margin-bottom: 20px !important;
}

div.plug-container{
padding:0px;
}

div#footer {
margin-bottom:20px !important;
}

a[aria-label="Powered by Qualtrics Open in a new tab"]{
padding:0px !important;
}


/*End Padding and Margins Sections*/


/*Hide progress bar*/
#progress-bar {
    display: none;
}


/*Hide header canvas */
#canvas-heading {
    display: none;
}

.plug-container #plug a {
    background: var(--clr-bg-nonary, #edeff0);
    background-color: var(--clr-bg-nonary);
}


/*Logo container banner*/
#logo-container.banner {
    background-color: var(--clr-bg-nonary);
}

section.question.mc.horizontal,  div.question-error-wrapper{
    background-color:--clr-bg-octonary;
}




.mc .choices {
    width: auto;
}

.shadowbox {
    background-color: var(--clr-bg-octonary);
}

div.question-error-wrapper {
    background-color: var(--clr-bg-octonary);
}

.mc.horizontal .choices .choice.above .choice-label {
    flex-direction: column-reverse;
}

/* Set color for all paths within SVGs */
.svg_icons_jti path {
    stroke: var(--svg-clr) !important;
    /* Change the stroke color as needed */
    fill: var(--svg-clr) !important;
    /* Change the fill color as needed */
}

.QSIWebResponsiveDialog-Layout1-SI_87fa5sputpbLzTM_close-btn-container-medium > button > img{
            filter: grayscale(var(--png-grayscale)) brightness(var(--png-brightness));
}


#navigation {
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
}

/*Position Buttons in the center*/
#navigation #primary-navigation {
    display: grid !important;
    grid-template-columns: auto auto;
    justify-content: center !important;
    align-items: center !important;
    gap: 20px;
 
}

.resize-wrapper{
    max-width:100%;
}

.text-input {
    background-color: var(--clr-bg-nonary);
    max-width:100%;
    width:100vw;
}
.te .question-content .text-input, .te .question-content textarea {
    background-color: var(--clr-bg-nonary);
    width: 100vw;
    max-width: 100%;
    min-height: 100px;
    display: block;
}

#auto-advance-banner-container {
      display:none !important;
}



/*Buttons*/
/*Next*/

button#next-button{
    background-color: #000 !important;
    color: #fff !important;
    border-radius:0.5rem;
}
button#next-button > svg{
     display:none !important;
    
}
button#next-button:hover{
    background-color: #3567FF !important;
}


/*Back*/

button#previous-button{
    background-color: #fff !important;
    color: #000 !important;
    border:2px;
    border-color:#000 !important;
    border-radius:0.5rem;
}
button#previous-button > svg{
     display:none !important;
    
}
button#previous-button:hover{
    background-color: #3567FF !important;
}
/* Small Screens 2xs  */
@media screen and (max-width: 320px) {
  div#app {
        margin:0px 20px !important;
    }
    .question-display.rich-text {
        font-size: var(--fs-titles-xs);
    }
     .website_matrix_text{
        font-size: var(--fs-copy-md);
    }    

  svg.svg_icons_jti {
        width: var(--svg-size-mobile);
      height: var(--svg-size-mobile);
    }    

.mc.horizontal .choices .choice.above .choice-label {
    flex-direction: row;
}

span.radio-button.radio.selected{
display:none;
}
span.radio-button.radio{
display:none;
}

svg.svg_icons_jti {
    margin-bottom: 0px  !important;
}

span.display-with-image-display.rich-text {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

span.choice-content{
width:100%;
}

div#footer{
padding:0px;
}



}


/* Small Screens xs  */

@media screen and (min-width: 320px) and (max-width: 480px) {
  div#app {
        margin:0px 20px !important;
    }
    .question-display.rich-text {
        font-size: var(--fs-titles-xs);
    }
    

  svg.svg_icons_jti {
        width: var(--svg-size-mobile);
      height: var(--svg-size-mobile);
    }    

.mc.horizontal.choices.choice.above.choice-label {
    flex-direction: row;
}
span.radio-button.radio.selected{
display:none;
}
span.radio-button.radio{
display:none;
}
svg.svg_icons_jti {
    margin-bottom: 0px  !important;
}

span.display-with-image-display.rich-text {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    align-items: center;
    justify-content: center;
}


div.choice.above.radio{
  margin-bottom:20px !important;
}


.mc.horizontal .choices .choice.above .choice-label .choice-content {
    padding: 0px !important;
   margin:0px !important;
}
label.choice-label {
max-width:100% !important;
align-items:start !important;
}

.mc .choice-label {
align-items:start !important;
}


}

/* Small Screens sl */
@media screen and (min-width: 480px) and (max-width: 530px) {
     div#app {
        margin:0px 48px !important;
    }


    .question-display.rich-text {
        font-size: var(--fs-titles-sl);
    }
     

    svg.svg_icons_jti {
        width: var(--svg-size-mobile);
      height: var(--svg-size-mobile);
    }

.mc.horizontal.choices.choice.above.choice-label {
    flex-direction: row;
}
span.radio-button.radio.selected{
display:none;
}
span.radio-button.radio{
display:none;
}
svg.svg_icons_jti {
    margin-bottom: 0px  !important;
}

span.display-with-image-display.rich-text {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

span.choice-content{
width:100%;
}

.mc.horizontal .choices {
    display: block !important;
    justify-content:left;
}

.choice-content{
  justify-content:left !important;

}
div.choice.above.radio{
  margin-bottom:20px !important;
}


.mc.horizontal .choices .choice.above .choice-label .choice-content {
    padding: 0px !important;
   margin:0px !important;
}
label.choice-label {
max-width:100% !important;
}


}



/* SL  Screens*/
@media screen and (min-width: 530px) and (max-width: 779px) {
     div#app {
        margin:0px 48px !important;
    } 


   .question-display.rich-text {
        font-size: var(--fs-titles-sl);
    }
    

    svg.svg_icons_jti {
        width: var(--svg-size-desktop);
        height: var(--svg-size-desktop);

    }

.mc.horizontal.choices.choice.above.choice-label {
    flex-direction: row;
}
span.radio-button.radio.selected{
display:none;
}
span.radio-button.radio{
display:none;
}
svg.svg_icons_jti {
    margin-bottom: 0px  !important;
}

span.display-with-image-display.rich-text {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

span.choice-content{
width:100%;
}

.mc.horizontal .choices {
    display: block !important;
    justify-content:left;
}

.choice-content{
  justify-content:left !important;
}

div.choice.above.radio{
  margin-bottom:20px !important;
}


.mc.horizontal .choices .choice.above .choice-label .choice-content {
    padding: 0px !important;
   margin:0px !important;

}
label.choice-label {
max-width:100% !important;
}

}


/* Big Screens */
@media screen and (min-width: 880px) {
    div#app {
        margin:0px 64px !important;
    }


     .question-display.rich-text {
        font-size: var(--fs-titles-md);
    }




    svg.svg_icons_jti {
        width: var(--svg-size-desktop);
         height: var(--svg-size-desktop);
    }


}

span.radio-button.radio.selected {
   position: relative;
   background-color: #3567FF !important;
}

span.radio-button.radio svg {
    visibility: hidden;

}

span.radio-button.radio.selected:before {
    content: " ";
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #fbfbfb;
    position: absolute;
    top: 0px;
    left: 0px;
}

span.radio-button.radio.selected:after {
    content: " ";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #3567FF !important;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 9999;
}
